body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-base;
  background-color: $body-bg;
  line-height: $line-height-base;
}

* {
  box-sizing: border-box;
}

main {
  height: 100%;
}

ul,
ol {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;
  padding: 10px 0;
  width: 90%;
  &:hover {
    cursor: pointer;
    color: $link-hover-color;
  }
}

h1 {
  color: $heading-color;
  font-family: $font-family-base;
  font-size: 2em;
  margin: 0;
}
