@import "variables";
@import "mixins";
@import "reboot";
@import "header";
@import "extends";

.card {
  width: 25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  > h1 {
    font-size: 1.5em;
  }
}

.input-field {
  width: 90%;
  margin: 0 auto;
  > p {
    margin-bottom: 5px;
  }
  > input {
    width: 100%;
    color: $gray-light;
    background-color: $body-bg;
    border: none;
    border-bottom: 1px solid $border-color;
    caret-color: $white;
    &:focus {
      outline: none;
    }
  }
}
